html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    inset: 0;
}

* {
    box-sizing: border-box;
}


.main_grid_field {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    text-align: center;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
    gap: 0.5rem;
    grid-auto-flow: row;
    grid-template-areas:
        "hide_options add_question"
        "current_question question_storage"
        "live_preview question_storage";
    padding: 0.5rem;
}

.question_options {
    grid-area: add_question;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.5rem;
    grid-auto-flow: row;
    grid-template-areas:
        "add_question import export";
}

.add_question {
    grid-area: add_question;
}

.import {
    grid-area: import;
}

.export {
    grid-area: export;
}


.current_question {
    grid-area: current_question;
}

.current_question .question {
    margin-bottom: 0;
}

.question_storage {
    grid-area: question_storage;
    overflow-y: auto;
}

.hide_options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.5rem;
    grid-auto-flow: row;
    grid-template-areas:
        "public live";
    grid-area: hide_options;
    padding: 0;
    border: 0;
}

.public {
    grid-area: public;
}

.live {
    grid-area: live;
}

.live_preview {
    grid-area: live_preview;
}

.question {
    display: grid;
    grid-template-columns: 1fr 3rem 3rem;
    grid-template-rows: 1fr;
    gap: 0.5rem;
    grid-auto-flow: row;
    grid-template-areas:
        "question_title question_start question_delete";
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.question_title {
    grid-area: question_title;
    font-size: 1.5rem;
    display: grid;
    place-content: center;
}

.question_start {
    grid-area: question_start;
}

.question_delete {
    grid-area: question_delete;
}

.question_start,
.question_delete {
    height: 100%;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
}

.question_start img,
.question_delete img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.button_active {
    -moz-box-shadow: 0px 0px 4px #ffffff;
    -webkit-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 4px #0f0;
    outline: 2px solid #0f0;
    outline-offset: -2px;
}

.button_inactive {
    -moz-box-shadow: 0px 0px 4px #ffffff;
    -webkit-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 4px #f00;
    outline: 2px solid red;
    outline-offset: -2px;
}